<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mexify.io</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://plesk8200.is.cc:8172</MSDeployServiceURL>
    <DeployIisAppPath>mexify.io</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>llpsaart</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MexifyDB" Order="1" Enabled="False">
          <Destination Path="Data Source=66.45.231.90;Initial Catalog=mexifydb;User ID=mexify_user;Password=Dws@271092;Max Pool Size=40000;Connect Timeout=10" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=66.45.231.90;Initial Catalog=MexifyDB;User ID=mexify_user;Password=Dws@271092;Application Name=MexifyApp" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MexifyDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=66.45.231.90;Database=MexifyDB;User Id=mexify_user;Password=Dws@271092;MultipleActiveResultSets=True;Application Name=MexifyApp;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MexifyDB-Web.config Connection String">
      <ParameterValue>data source=66.45.231.90;initial catalog=mexifydb;user id=mexify_user;password=Dws@271092;max pool size=40000;connect timeout=10;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>