<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADRaffy.ENSNormalize" version="0.3.1" targetFramework="net452" />
  <package id="bootstrap" version="3.4.1" targetFramework="net452" />
  <package id="jQuery" version="3.6.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Nethereum.ABI" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Accounts" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.BlockchainProcessing" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Contracts" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Hex" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.JsonRpc.Client" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.JsonRpc.RpcClient" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.KeyStore" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Merkle.Patricia" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Model" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.RLP" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.RPC" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Signer" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Signer.EIP712" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Util" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Util.Rest" version="6.1.0" targetFramework="net452" />
  <package id="Nethereum.Web3" version="6.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net452" />
</packages>